<link rel="icon" href="favicon.ico" type="image/x-icon">

* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

body {
  background-color: #ebf6ff;
}
h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: roboto;
  font-size: 125%;
}
p {
  color: black;
  font-family: roboto;
  font-size: 125%;
}
.small {
  font-size: 75%;
}
table {
  font-size: 12px;
  border: 1px solid #CCC; 
  font-family: roboto;
} 
td {
  padding: 3px;
  margin: 4px;
  border: 1px solid #CCC;
}
th {
  background-color: #000000; 
  color: #FFF;
  font-weight: bold;
}

/* Dropdown Button */
.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-family: roboto;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: DimGray;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: roboto;
  font-size: 16px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

tr td:nth-child(6),
tr td:nth-child(8),
tr td:nth-child(10),{
  color: red;
  font-weight: bold;
}
