body {
  background-color: #ebf6ff;
}
h3 {
  color: black;
  font-family: roboto;
  font-size: 125%;
}
p {
  color: black;
  font-family: roboto;
  font-size: 125%;
}
table {
  font-size: 12px;
  border: 1px solid #CCC; 
  font-family: roboto;
} 
td {
  padding: 3px;
  margin: 4px;
  border: 1px solid #CCC;
}
th {
  background-color: #000000; 
  color: #FFF;
  font-weight: bold;
}
